input {
    border:  none;
    border-radius: 12px;
    padding: 8px;
    background-color:  rgb(14, 162, 136);
    margin: 5px;
}

input:hover {
    background-color: rgb(190, 45, 79);
}

#updateSheet {
    background-color: rgb(4, 100, 100);
    border-radius: 12px;
    border-width: 30px;
    border-color:  rgb(14, 183, 86); 
    color: whitesmoke;
    
}

#repot-seed {
    background-color:  rgb(182, 207, 19);
    margin: 5px;
}